body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6b6a6a;
  }
  
  .container {
    text-align: center;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 20px;
    background-color: #313031;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #c1bebe;
    padding: 8px;
    margin-bottom: 5px;
  }
  
 